@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  font-family: "Times New Roman", Times, serif;
}

.container {
  height: 100%;
  align-content: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.card {
  height: auto;

  /* background-color: #b7c4cf; */
  width: 400px;
}

.card_header {
  background-color: white;
  color: black;
  height: 70px;
  padding-top: 20px;
  font-weight: 400;
}
.card-body {
  background-color: white;
  color: black;
}

.card-header h3 {
  color: rgb(5, 5, 5);
  font: optional;
}

.input-group-prepend span {
  width: 50px;
  background-color: rgb(255, 238, 0);
  color: black;
  border: 0 !important;
}
.card.form {
  height: 450px;
  color: black;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: black;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  padding: auto;
  color: black;
  background-color: rgb(255, 238, 0);
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

/* Profile content*/

.profile {
  margin: 20px 0;
}

.profile-sidebar {
  /*padding: 20px 0 10px 0; */
  background: #fff;
}

.profile-userpic img {
  position: relative;
  float: none;
  margin-left: 64px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
.profile-usermenu {
  margin-top: 30px;
}
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
